html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway";
  line-height: 1.19;
}

.web {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .contact {
    display: none;
  }
  .burger__button {
    border: none;
    background-color: transparent;
  }
  .burger__button__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list-item {
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .burger__button {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact {
    display: block;
  }
}
.current {
  color: #2196F3;
}

.nav-list-item:hover {
  color: #2196F3;
}

.nav-list-link {
  position: relative;
  padding-bottom: 28px;
}

.contact-item:hover,
.contact-item:focus {
  color: #2196F3;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-item a {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-item:hover {
  color: #2196F3;
  fill: #2196F3;
}

.hero {
  max-width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 30px;
  cursor: pointer;
}

.hero-button:hover {
  background: #188CE8;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .hero-title {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1.56px;
  }
  .hero-button {
    width: 201px;
    letter-spacing: 0.96px;
    padding: 10px 24px;
    font-size: 16px;
  }
}
.advantage-section {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
}

.advantage-icon {
  margin-top: 25px;
  margin-left: 100px;
}

.box {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantage-text {
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */