html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway";
  line-height: 1.19;
}

.web {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact {
    display: none;
  }
  .burger__button {
    border: none;
    background-color: transparent;
  }
  .burger__button__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list-item {
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .burger__button {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-item {
    font-weight: 500;
    letter-spacing: 0.24px;
  }
  .header-icon {
    margin-right: 8px;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .current {
    color: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 0;
  }
  .contact-item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-link {
    display: flex;
    align-items: center;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.nav-list-item:hover {
  color: #2196F3;
}

.contact-item:hover,
.contact-item:focus {
  color: #2196F3;
}

.contact-item:hover {
  color: #2196F3;
  fill: #2196F3;
}

.hero {
  max-width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 30px;
  cursor: pointer;
}

.hero-button:hover {
  background: #188CE8;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .hero-title {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 1.56px;
  }
  .hero-button {
    width: 201px;
    letter-spacing: 0.96px;
    padding: 10px 24px;
    font-size: 16px;
  }
}
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.submit-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
  padding-left: 16px;
  font-size: 18px;
  margin-right: 12px;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}

.footer-button:hover {
  background: #188CE8;
}

.footer-submit-icon {
  margin-left: 10px;
}

.social-icon-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-join-list {
  display: flex;
}

.footer-join-item:not(:last-child) {
  margin-right: 10px;
}

.studio {
  color: #FFFFFF;
}

.footer-contacts-item:first-child {
  margin-top: 20px;
  color: #FFFFFF;
}

.footer-contacts-item:not(:first-child) {
  margin-top: 10px;
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-list-item {
  position: relative;
}

.activity-text {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-section {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
}

.advantage-icon {
  margin-top: 25px;
  margin-left: 100px;
}

.box {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantage-text {
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-section {
  padding-top: 94px;
  height: 708px;
  background-color: #F5F4FA;
}

.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-item {
  width: 270px;
  height: 428px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  margin-bottom: 30px;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.icons-list {
  display: flex;
  justify-content: center;
}

.team-list-icon {
  fill: #AFB1B8;
}

.icons-list {
  margin-bottom: 30px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #2196F3;
}

.icons-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link:hover .team-list-icon,
.social-icon-link:focus .team-list-icon {
  fill: #FFFFFF;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid #2196F3;
}

.clients-list-link:hover .clients-icon,
.clients-list-link:focus .clients-icon {
  fill: #2196F3;
}

.clients-icon {
  fill: #AFB1B8;
}

.projects-section {
  padding-top: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list-item {
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms ease-in;
}

.projects-thumb-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
}

.projects-list-item:hover .text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects-image {
  margin-bottom: 20px;
}

.projects-title {
  margin-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-text {
  padding-left: 24px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

/* Buttons-nav */
.buttons-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-nav-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-nav-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.buttons-nav-button:hover {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  border-bottom: 1px solid #ECECEC;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 796px;
    overflow: auto;
    background-color: #FFF;
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 250ms ease-in, transform 250ms ease-in;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}

.close-btn-icon:hover {
  fill: #2196F3;
}

.menu-list-link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.menu-list-item:last-child {
  margin-bottom: 302px;
}

.menu-contact-item:first-child {
  color: #2196F3;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
}

.menu-contact-item:last-child {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 64px;
}

.menu-social-list {
  display: flex;
  justify-content: space-between;
}

.menu-social-item {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}

.menu-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms ease-in;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-close:hover, .button-close:focus {
  fill: #2196F3;
  border: #2196F3;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 640px;
  }
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-input-title {
  font-size: 12px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-form {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-icon {
  position: absolute;
  left: 17px;
  top: 50%;
}

.modal-form-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-form-input-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 16px;
  margin-bottom: 20px;
}

.modal-form-input-comment:focus {
  fill: #2196F3;
}

.modal-form-input-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.modal-checkbox-text {
  letter-spacing: 0.36px;
}

.checkbox-text-link {
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.modal-form-field-comment {
  display: flex;
  align-items: center;
}

.modal-button {
  margin-top: 31px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  line-height: 30px;
  letter-spacing: 0.96px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */