/* Activity section */

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-list-item {
  position: relative;
}

.activity-text {
  position: absolute;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Team section */

.team-section {
  padding-top: 94px;
  height: 708px;
  background-color: #F5F4FA;
}

.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-item {
  width: 270px;
  height: 428px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc((100% - 90) / 4);
}

.team-image {
  margin-bottom: 30px;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;

  margin-bottom: 16px;
}

.icons-list {
  display: flex;
  justify-content: center;
}

.team-list-icon {
  fill: #AFB1B8;
}

.icons-list {
  margin-bottom: 30px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #2196F3;

}

.icons-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link:hover .team-list-icon,
.social-icon-link:focus .team-list-icon {
  fill: #FFFFFF;
}

/* Footer */

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-submit {}

.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;

  margin-bottom: 20px;
}

.submit-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
  padding-left: 16px;
  font-size: 18px;
  margin-right: 12px;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}

.footer-button:hover {
  background: #188CE8;
}

.footer-submit-icon {
  margin-left: 10px;
}

.social-icon-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-join-list {
  display: flex;
}

.footer-join-item:not(:last-child) {
  margin-right: 10px;
}

.studio {
  color: #FFFFFF;
}

.footer-contacts-item:first-child {
  margin-top: 20px;
  color: #FFFFFF;
}

.footer-contacts-item:not(:first-child) {
  margin-top: 10px;
}

/* Clients section */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid #2196F3;
}

.clients-list-link:hover .clients-icon,
.clients-list-link:focus .clients-icon {
  fill: #2196F3;
}

.clients-icon {
  fill: #AFB1B8;
}

/* Portfolio */

.projects-section {
  padding-top: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list-item {
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  flex-basis: calc((100% - 90) / 3);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.text-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms ease-in;
}

.projects-thumb-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
}

.projects-list-item:hover .text-overlay {
  transform: translateY(0);
  opacity: 1;
}


.projects-image {
  margin-bottom: 20px;
}

.projects-title {
  margin-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-text {
  padding-left: 24px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

/* Buttons-nav */

.buttons-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-nav-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-nav-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.buttons-nav-button:hover {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  border-bottom: 1px solid #ECECEC;
}