.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    text-align: center;
}

.advantage-text {
    line-height: 24px;
    letter-spacing: 0.03em;
}

.advantage-list-item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (min-width:768px) {
    .advantage-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .advantage-list-item {
        flex-basis: calc((100% - 2 * 30px) / 2);
    }
}

@media screen and (min-width:1200px) {
    .advantage-list-item {
        flex-basis: calc((100% - 4 * 30px) / 4);
    }
}