.team-section {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.84px;
    color: $titleColor;

    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    // flex-basis: calc((100% - 90) / 4);
}

.team-image {
    margin-bottom: 30px;
}

.card-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    margin-bottom: 16px;
}

.icons-list {
    display: flex;
    justify-content: center;
}

.team-list-icon {
    fill: #AFB1B8;
}

.icons-list {
    margin-bottom: 30px;
}

.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #2196F3;

}

.icons-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-icon-link:hover .team-list-icon,
.social-icon-link:focus .team-list-icon {
    fill: #FFFFFF;
}

@media screen and (min-width:1200px) {
    .team-list {
        display: flex;
        flex-wrap: nowrap;
    }

    .team-title {
        font-size: 36px;
    }
}