.advantage-section {
    padding-top: 94px;
}

.advantage-list {
    display: flex;
    justify-content: space-between;
}

.advantage-icon {
    margin-top: 25px;
    margin-left: 100px;
}

.box {
    // width: 270px;
    // height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.advantage-text {
    line-height: 24px;
    letter-spacing: 0.03em;
}

.advantage-list-item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (max-width:767px) {
    .advantage-list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:768px) {
    .advantage-list {
        display: flex;
        flex-wrap: wrap;
        // gap: 30px;
        margin-left: -30px;
        margin-top: -30px;
    }

    .advantage-list-item {
        // flex-direction: row;
        // flex-wrap: wrap;
        flex-basis: calc((100% - 2 * 30) / 2);
    }
}