.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-list-link:hover,
.clients-list-link:focus {
    border: 1px solid #2196F3;
}

.clients-list-link:hover .clients-icon,
.clients-list-link:focus .clients-icon {
    fill: #2196F3;
}

.clients-icon {
    fill: #AFB1B8;
}